---
apiVersion: v1
kind: Service
metadata:
  name: taiga-front
  namespace: taiga
  labels:
    app.kubernetes.io/name: taiga
    app.kubernetes.io/component: front
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: taiga
    app.kubernetes.io/component: front
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: taiga-front-config
  namespace: taiga
  labels:
    app.kubernetes.io/name: taiga
    app.kubernetes.io/component: front
data:
  config.json: |
    {
      "api": "https://taiga.bsdserver.nl/api/v1/",
      "eventsUrl": "wss://taiga.bsdserver.nl/events",
      "eventsMaxMissedHeartbeats": 5,
      "eventsHeartbeatIntervalTime": 60000,
      "eventsReconnectTryInterval": 10000,
      "debug": false,
      "debugInfo": false,
      "defaultLanguage": "en",
      "themes": ["taiga"],
      "defaultTheme": "taiga",
      "defaultLoginEnabled": true,
      "publicRegisterEnabled": false,
      "feedbackEnabled": false,
      "supportUrl": "",
      "privacyPolicyUrl": "",
      "termsOfServiceUrl": "",
      "GDPRUrl": "",
      "maxUploadFileSize": null,
      "contribPlugins": [],
      "tribeHost": null,
      "importers": [],
      "gravatar": false,
      "rtlLanguages": ["fa"]
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: taiga-front
  namespace: taiga
  labels:
    app.kubernetes.io/name: taiga
    app.kubernetes.io/component: front
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: taiga
      app.kubernetes.io/component: front
  template:
    metadata:
      labels:
        app.kubernetes.io/name: taiga
        app.kubernetes.io/component: front
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
      containers:
        - name: taiga-front
          image: taigaio/taiga-front:latest
          ports:
            - containerPort: 80
              name: http
          env:
            - name: TAIGA_URL
              value: "https://taiga.bsdserver.nl"
            - name: TAIGA_WEBSOCKETS_URL
              value: "wss://taiga.bsdserver.nl"
            - name: PUBLIC_REGISTER_ENABLED
              value: "false"
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 128Mi
          volumeMounts:
            - name: config
              mountPath: /usr/share/nginx/html/conf.json
              subPath: config.json
      volumes:
        - name: config
          configMap:
            name: taiga-front-config
