apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - storageclass-database.yaml
  - externalsecret.yaml
  - middleware.yaml

patches:
  - path: patch-longhorn-manager-resources.yaml
    target:
      kind: DaemonSet
      name: longhorn-manager
      namespace: longhorn-system
  - path: patch-longhorn-ui-resources.yaml
    target:
      kind: Deployment
      name: longhorn-ui
      namespace: longhorn-system
  - path: patch-csi-attacher-resources.yaml
    target:
      kind: Deployment
      name: csi-attacher
      namespace: longhorn-system
  - path: patch-csi-provisioner-resources.yaml
    target:
      kind: Deployment
      name: csi-provisioner
      namespace: longhorn-system
  - path: patch-csi-resizer-resources.yaml
    target:
      kind: Deployment
      name: csi-resizer
      namespace: longhorn-system
  - path: patch-csi-snapshotter-resources.yaml
    target:
      kind: Deployment
      name: csi-snapshotter
      namespace: longhorn-system
