---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: eda-database
  namespace: eda
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: eda-database
    creationPolicy: Owner
  data:
    - secretKey: EDA_DB_HOST
      remoteRef:
        key: secret/kubernetes/eda/database
        property: EDA_DB_HOST
    - secretKey: EDA_DB_NAME
      remoteRef:
        key: secret/kubernetes/eda/database
        property: EDA_DB_NAME
    - secretKey: EDA_DB_USER
      remoteRef:
        key: secret/kubernetes/eda/database
        property: EDA_DB_USER
    - secretKey: EDA_DB_PASSWORD
      remoteRef:
        key: secret/kubernetes/eda/database
        property: EDA_DB_PASSWORD
    - secretKey: EDA_DB_PORT
      remoteRef:
        key: secret/kubernetes/eda/database
        property: EDA_DB_PORT
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: eda-app
  namespace: eda
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: eda-app
    creationPolicy: Owner
  data:
    - secretKey: EDA_SECRET_KEY
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_SECRET_KEY
    - secretKey: EDA_CSRF_TRUSTED_ORIGINS
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_CSRF_TRUSTED_ORIGINS
    - secretKey: EDA_WEBSOCKET_BASE_URL
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_WEBSOCKET_BASE_URL
    - secretKey: EDA_ALLOWED_HOSTS
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_ALLOWED_HOSTS
    - secretKey: EDA_DEBUG
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_DEBUG
    - secretKey: EDA_MQ_HOST
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_MQ_HOST
    - secretKey: EDA_MQ_PORT
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_MQ_PORT
    - secretKey: EDA_DEPLOYMENT_TYPE
      remoteRef:
        key: secret/kubernetes/eda/app
        property: EDA_DEPLOYMENT_TYPE
