apiVersion: v1
kind: Service
metadata:
  name: traefik-api
  namespace: traefik
  labels:
    app.kubernetes.io/name: traefik
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: traefik
      protocol: TCP
      name: api
  selector:
    app.kubernetes.io/instance: traefik-traefik
    app.kubernetes.io/name: traefik
