apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - helmrepository.yaml
  - helmrelease.yaml
  - dashboard-ingressroute.yaml
  - api-service.yaml
  - servicemonitor.yaml
