---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: listmonk-app-secrets
  namespace: listmonk
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: listmonk-app-secrets
    creationPolicy: Owner
    template:
      data:
        LISTMONK_db__user: "{{ .db_user }}"
        LISTMONK_db__password: "{{ .db_password }}"
        LISTMONK_db__database: "{{ .db_name }}"
        LISTMONK_ADMIN_USER: "{{ .admin_user }}"
        LISTMONK_ADMIN_PASSWORD: "{{ .admin_password }}"
  data:
    - secretKey: db_user
      remoteRef:
        key: secret/data/kubernetes/listmonk/database
        property: username
    - secretKey: db_password
      remoteRef:
        key: secret/data/kubernetes/listmonk/database
        property: password
    - secretKey: db_name
      remoteRef:
        key: secret/data/kubernetes/listmonk/database
        property: database
    - secretKey: admin_user
      remoteRef:
        key: secret/data/kubernetes/listmonk/admin
        property: username
    - secretKey: admin_password
      remoteRef:
        key: secret/data/kubernetes/listmonk/admin
        property: password
